<template lang="ts" setup>
  <div>
    {{ helloWorld() }}
  </div>
</template>

<script>
  function helloWorld() {
    return 'Hello World'
  }
</script>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: row;
  }
</style>
